main {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 1rem;

    padding: 5rem 0;
}

main input, main textarea {
    border: 0;
    border-radius: 5%;
    border-style: solid;
    border-width: 0.05rem;
    border-color: white;

    padding: 0.8rem 1rem;
}

main input:focus, main textarea:focus {
    border: 0;
    outline: 0;
}

main input:hover, main textarea:hover {
    background-color: #1a731f;
}

main textarea {
    border-radius: 2.5%;
    resize: none;
}

main input::placeholder, main textarea::placeholder {
    color: white;
    font-family: sans-serif;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
    gap: 1rem;
    margin: auto;
}

#contact-inputs {
    display: flex;
}

#contact-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#contact-left input {
    width: 15rem;
}

#contact-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button {
    border: 0;
    padding: 0.8rem 2rem;
}

#submitButton {
    padding: 0.8rem 3rem;
}

#submitButton:hover {
    background-color: #895169;
}

#resetButton:hover {
    background-color: #851616;
}